<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <div style="margin-top: 10px;">     
                   <input class="block2"routerLink="/GetEmployeePath"type="button" value="List Employee">
            </div> -->
            <form [formGroup]="form">
                <fieldset>
                    <legend class="text-center">Valid information is required to Add Employee. <span class="req"><small>
                                required *</small></span></legend>

                    <div class="form-group">
                        <label for="Name"><span class="req">* </span> Name: <small>This will be your login user
                                name</small> </label>
                        <input  type="text" [(ngModel)]="employee.name" name="name" id="name"
                            class="form-control" placeholder="Enter Name" formControlName="name" [ngClass]="{'is-invalid':
                            form.get('name').touched && form.get('name').invalid}"/>
                            <div class="invalid-feedback">
                                <div>Input is required </div>
                            </div>                                     
                            <!-- <div *ngIf="form.get('name').touched" class="invalid-feedback">
                                <div *ngIf="form.get('name').errors.required">Input is required </div>
                            </div>                         -->            
                    </div>
                  

                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Email: </label>
                        <input class="form-control" type="email" [(ngModel)]="employee.email" name="email" id="txt" required
                            placeholder="Enter valid email address" formControlName="email" [ngClass]="{'is-invalid':
                            form.get('email').touched && form.get('email').invalid}"/>
                            <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                                <div *ngIf="form.get('email').errors.required">Input is required </div>
                                <div *ngIf="form.get('email').errors.email">Email must be valid email address </div>
                            </div>                        
                            <!-- <div id="errFirst"></div> -->
                    </div>

                    <div class="form-group">
                        <label for="employeeCode"><span class="req">* </span> EmployeeCode </label>
                        <input class="form-control" type="text" [(ngModel)]="employee.employeeCode" name="employeeCode" id="txt"
                            placeholder="Enter EmployeeCode" formControlName="employeeCode" [ngClass]="{'is-invalid':
                            form.get('employeeCode').touched && form.get('employeeCode').invalid}" />
                            <div class="invalid-feedback">
                                <div>Input is required </div>
                            </div>                
                            <!-- <div *ngIf="form.get('employeeCode').touched" class="invalid-feedback">
                                <div *ngIf="form.get('employeeCode').errors.required">Input is required </div>
                            </div>                         -->
                    </div>
               
               
                    <div class="form-group">
                      <label for="gender"><span class="req">* </span> Gender: </label><br/>
                        <!-- <div class="form-control"> -->
                            <!-- formControlName="gender" [ngClass]="{'is-invalid':
                        form.get('gender').touched && form.get('gender').invalid}" -->
                            <input type="radio" [(ngModel)]="employee.gender" name="gender" value="Male"        formControlName="gender" [ngClass]="{'is-invalid':
                            form.get('gender').touched && form.get('gender').invalid}">Male &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" [(ngModel)]="employee.gender" name="gender" value="Female"        formControlName="gender" [ngClass]="{'is-invalid':
                            form.get('gender').touched && form.get('gender').invalid}">Female &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" [(ngModel)]="employee.gender" name="gender" value="Other"        formControlName="gender" [ngClass]="{'is-invalid':
                            form.get('gender').touched && form.get('gender').invalid}">Other      
                        <!-- </div> -->
                            <div class="invalid-feedback">
                                <div>Input is required </div>
                            </div>                

                        <!-- <div *ngIf="form.get('gender').touched" class="invalid-feedback">
                            <div *ngIf="form.get('gender').errors.required">Input is required </div>
                        </div>                         -->
                      <div id="errLast"></div>
                    </div>
                           
                    <div class="form-group">
                        <label for="designation"><span class="req">* </span> Designation </label>
                        <!-- <input class="form-control" type="number" [(ngModel)]="employee.designation" name="designation" id="txt1"
                        placeholder="Enter Designation" required /> -->
                        <!-- [(ngModel)]="employee.designation" -->
                        <!-- <select   class="form-control" name="designation">
                           <option [(ngModel)]="employee.designation" *ngFor="let des of designation1" [value]="des.designationID" >{{des.designationName}}</option>
                        </select> -->
                        <select [(ngModel)]=employee.designation class="form-control" name="designationId"
                        formControlName="designation" [ngClass]="{'is-invalid':
                        form.get('designation').touched && form.get('designation').invalid}">
                            <option  *ngFor="let des of designation1" [ngValue]='des.designationId'>{{des.designationName}}</option>
                         </select>
                         <div class="invalid-feedback">
                            <div>Input is required </div>
                        </div>                
                         <!-- <div *ngIf="form.get('designation').touched" class="invalid-feedback">
                            <div *ngIf="form.get('designation').errors.required">Input is required </div>
                         </div>                          -->
                        <div id="errLast"></div>
                      </div>
                
                    <div class="form-group">
                      <label for="department"><span class="req">* </span> Department </label>
                      <!-- <input class="form-control" type="number" [(ngModel)]="employee.department" name="department" id="txt"
                          placeholder="Enter Department" required /> -->
                     <select class="form-control" [(ngModel)]="employee.department"name="departmentId"
                     formControlName="department" [ngClass]="{'is-invalid':
                        form.get('department').touched && form.get('department').invalid}">
                         <option *ngFor="let dep of department1" [ngValue]="dep.departmentId">{{dep.departmentName}}</option>
                     </select>
                     <div class="invalid-feedback">
                        <div>Input is required </div>
                    </div>                
             
                     <!-- <div *ngIf="form.get('department').touched" class="invalid-feedback">
                        <div *ngIf="form.get('department').errors.required">Input is required </div>
                     </div>                          -->
                 
                         <div id="errLast"></div>
                    </div>
                    
                    <div class="form-group">
                      <label for="dob"><span class="req">* </span> Date Of Birth: </label>
                      <input class="form-control" type="date" [(ngModel)]="employee.dob " name="dob" id="txt"
                          placeholder="Enter Date of Birth" formControlName="dob" [ngClass]="{'is-invalid':
                          form.get('dob').touched && form.get('dob').invalid}"/>
                          <div class="invalid-feedback">
                            <div>Input is required </div>
                           </div>                
                     
                          <!-- <div *ngIf="form.get('dob').touched" class="invalid-feedback">
                            <div *ngIf="form.get('dob').errors.required">Input is required </div>
                         </div>                          -->
                          <div id="errLast"></div>
                    </div>
                    
                    <div class="form-group">
                      <label for="salary"><span class="req">* </span> Salary: </label>
                      <input class="form-control" type="number" [(ngModel)]="employee.salary" name="salary" id="txt"
                          placeholder="Enter Salary" 
                          formControlName="salary" [ngClass]="{'is-invalid':
                          form.get('salary').touched && form.get('salary').invalid}" />
                          <div class="invalid-feedback">
                            <div>Input is required </div>
                           </div>                
                      
                          <!-- <div *ngIf="form.get('salary').touched" class="invalid-feedback">
                          <div *ngIf="form.get('salary').errors.required">Input is required </div>
                      </div>                         
                        -->
                          <div id="errLast"></div>
                    </div>
                    
      
                    <div class="form-group">
                        <input style="margin-right: 10px;" [disabled]="!form.valid"class="btn btn-success" type="submit" name="submit_reg" value="submit" 
                        (click)="AddEmpNow()">
                        <input style="margin-right: 10px;" class = "btn btn-warning"routerLink="/GetEmployeePath"type="button" value="Goto List">            
                    </div>
                    
                </fieldset>
                <router-outlet></router-outlet>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-12 -->

        <div  class="block1" style="text-align: center; box-shadow: burlywood 5px 7px 5px 5px;  border-bottom-left-radius: 40%; border-bottom-right-radius: 40%; background-color: aquamarine;" *ngIf="message==1">
            <h1>Employee is Added Successfully</h1>
        </div>
    </div>
</div>