<div class="container">
    <div class="row">

      <div class="col-md-12">
        <!-- <div style="margin-top: 10px;">     
            <input class="block"routerLink="/DesignationViewPath"type="button" value="List Designation">
         </div> -->

        <form [formGroup]="form">
           <h1 style="text-align: center">Add Designation</h1>
                    <div class="form-group">
                        <label for="Name"><span class="req">* </span> Department Name: </label>
                        <input required type="text" [(ngModel)]="deg1.designationName" name="name" id="name"
                            class="form-control" placeholder="Enter Designation Name"  formControlName="designationName" [ngClass]="{'is-invalid':
                            form.get('designationName').touched && form.get('designationName').invalid}"/>
                            <div *ngIf="form.get('designationName').touched" class="invalid-feedback">
                                <div *ngIf="form.get('designationName').errors.required">Input is required </div>
                            </div>                        
                                 <br/>   
 
                            <div class="form-group">
                                <input style="margin-right: 10px;"[disabled]="!form.valid" class="btn btn-success" type="submit" name="submit_reg" value="submit" (click)="AddDesignationNow()">
                                <input style="margin-right: 10px;" class = "btn btn-warning"routerLink="/DesignationViewPath"type="button" value="Goto List">
                            </div> 
                 
                    </div>  
            </form>
            <div style="text-align: center" *ngIf="message == 1">
                <h1>Designation is Added Successfully</h1>
            </div>
        </div>
     
  
    </div>
</div>