
<!-- <div class="container"> -->
    <div class="row">
        <!-- Display Data -->
        <div class="col-md-12">
            <div style="margin-top: 10px;">     
                <input class="btn btn-light"routerLink="/DesignationAddPath"type="button" value="Add Designation">
            </div>
       <hr/>
            <div class="card">
                <h2 class="card-header">Designation Data</h2>
                    <div class="card-body">
                        <div class="form-group"  style="margin-top: 20px; margin-bottom: 10px;">
                            <input type="text" class="form-control " placeholder="Search Here" [(ngModel)]="term">
                            <hr/>
                        </div>
                        
                            <table class=" table table-striped">
                            <!-- <table class="table table-bordered table table-striped">       -->
                                <thead>
                                <tr class="panel panel-info">
                                    <td style="text-align: center">ID</td>
                                    <td style="text-align: center">Designation Name</td>
                                    <td style="text-align: center" colspan="2">Action</td>            
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="panel panel-success" *ngFor="let deg of DegData| filter:term ">        
                                    <td style="text-align: center" class="div3">{{deg.designationId}}</td>    
                                    <td style="text-align: center">{{deg.designationName}}</td>    
                                    <td style="text-align: center">
                                        <button (click)="updateDesignation(deg.designationId)" type="button" data-toggle="modal" data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <!-- routerLink="/DesignationUpdatePath" -->
                                        <button (click)="DeleteDesignationNow(deg.designationId)"type="button" data-toggle="modal" data-target="#delete" data-uid="1" class="delete btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span> 
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
            </div>
        </div>
    </div>
<!-- </div> -->