<!-- <div class="row">
    <div class="col-md-12">
        <form>
            <h1 style="text-align: center">login</h1>
                     <div class="form-group">
                         <label for="name"><span class="req">* </span> name: </label>
                   
                         <input required type="text" [(ngmodel)]="log1.username"  name="name" id="name"
                         class="form-control" placeholder="enter name"/>


                         <br/>
                         <label for="name"><span class="req">* </span> password: </label>
                  
                         <input required type="password" [(ngmodel)]="log1.password" name="name" id="name"
                         class="form-control" placeholder="password"/>

                         <br/><br/>
                             <div class="form-group">
                                 <input (click)="loginnow()" class="btn btn-success" type="submit" name="submit_reg" value="submit" >
                             </div> 
                  
                     </div>  
             </form>
    </div>
</div> -->



<div class="row">
    <div class="col-md-12">

        <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
            <h1 style="text-align: center">Login</h1>

            <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control"placeholder="enter name" #userName="ngModel" name="userName" [(ngModel)]="formModel.userName" required>
            <div class="invalid-feedback">
                <div>Input is required </div>
            </div>
     
            <br/>
            <label>Password</label>
            <input type="password" placeholder="password"class="form-control" #password="ngModel" name="password" [(ngModel)]="formModel.password" required>
            <div class="invalid-feedback">
                <div>Input is required </div>
            </div>
     
            <br/>
            <div class="form-group ">
            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Login</button>
            </div>
        </div>
        </form>
    </div>
</div>
