<!-- <div class="container"> -->
    <div class="row">        
        <!-- Display Data -->
        <div class="col-md-12" >
            <div style="margin-top: 10px;">     
                <input class="btn btn-light"(click)="gotoadd()"type="button" value="Add Department">
            </div>
            <hr/>
            <!-- <div class="card BoxS"> -->
                <div class="card">
              <h2 class="card-header">Department Data</h2>
              
             <!-- <div class="col-md-12" style="margin-top: 20px; margin-bottom: 10px; margin-top: 10px;">         
                 <div class="col-md-4" >     
                    <input class="btn btn-outline-success my-2 my-sm-0"routerLink="/DepartmentAddPath"type="button" value="Add Department">
                </div> -->
                
                <div class="card-body"*ngIf="DepData.length > 0">

                <div class="form-group"style="margin-top: 20px; margin-bottom: 10px;" >
                    <input type="text" class="form-control fa fa-search" placeholder="Search Here" [(ngModel)]="term">               
                </div>
                <hr/>
            <!-- </div> -->

             
            <!-- <h2 style="text-align: center"></h2> -->
            <!-- <table class="table table-bordered"> -->
              <table class=" table table-striped">
              <thead>
                  <tr *ngIf="DepData.length > 0">
                      <td style="text-align: center">ID</td>
                      <td style="text-align: center">Department Name</td>
                      <td style="text-align: center" colspan="2">Action</td>                   
                  </tr>
              </thead>
              <tbody>
          
                <tr *ngFor="let dep of DepData | filter:term" class="div1">        
                      <td style="text-align: center" class="div3">{{dep.departmentId}}</td>    
                      <td style="text-align: center">{{dep.departmentName}}</td>    
                      <td style="text-align: center">
                        <button type="button" data-toggle="modal"(click)="updateDepartment(dep.departmentId)" data-target="#edit"  class="update btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-danger btn-xs" (click)="DeleteDepartmentNow(dep.departmentId)"type="button" data-toggle="modal" data-target="#delete" class="delete btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                      </td>
                  </tr>
              </tbody>
            </table>  
        </div>
                </div>
    <!-- </div>  -->
    </div>

    </div>
<!-- </div> -->