<!-- <div class="container"> -->
    <div class="row">
      
        <div class="col-md-12">
            <form [formGroup]="form">
           <h1 style="text-align: center">Update Department </h1>
                    <div class="form-group">
      
                        <div class="form-group">
                            <label> Department ID: </label>{{dep1.departmentId}}
                            <input  type="number" hidden [(ngModel)]="dep1.departmentId" name="departmentId" id="departmentId"
                                class="form-control"  placeholder="Department ID"  formControlName="departmentId" [ngClass]="{'is-invalid':
                                form.get('departmentId').touched && form.get('departmentId').invalid}"/>
                                <div *ngIf="form.get('departmentId').touched" class="invalid-feedback">
                                    <div *ngIf="form.get('departmentId').errors.required">Input is required </div>
                                </div>                        
                        </div>
          
                        <label for="Name"><span class="req">* </span> Department Name: </label>
                        <input type="text" [(ngModel)]="dep1.departmentName" name="departmentName" id="departmentName"
                            class="form-control" placeholder="Enter Department Name"  formControlName="departmentName" [ngClass]="{'is-invalid':
                            form.get('departmentName').touched && form.get('departmentName').invalid}"/>
                            <div class="invalid-feedback">
                                <div>Input is required </div>
                            </div>
              
                            <!-- <div *ngIf="form.get('departmentName').touched" class="invalid-feedback">
                                <div *ngIf="form.get('departmentName').errors.required">Input is required </div>
                            </div>                         -->
                             <br/>   
        
                            <div class="form-group">
                                <input style="margin-right: 10px;" [disabled]="!form.valid"class="btn btn-success" type="submit" name="submit_reg" value="Update" (click)="UpdateDepartment()">
                                <input style="margin-right: 10px;" routerLink="/DepartmentViewPath" class = "btn btn-danger"type="button" value="Cancel">
                             </div>
                    </div>  
            </form>
            <div style="text-align: center" *ngIf="message1 == 1">
                <h1>Department is Updated Successfully</h1>
            </div>
        </div>
    </div>
<!-- </div> -->