
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <button  type="button"routerLink="/AddEmployeePath" class="block">Add New Employee</button>

    <h2 style="text-align: center;">Employee Data</h2>
  <table class="table table-bordered">
    <thead>
        <tr class="div2">
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>EmployeeCode</td>
            <td>Gender</td>
            <td>Designation</td>
            <td>Department</td>
            <td>Data Of Birth</td>
            <td>Salary</td>
            <td colspan="2">Action</td>
            
        </tr>
    </thead>
    <tbody>

      <tr *ngFor="let Emp of EmployeeData" class="div1">        
            <td class="div3">{{Emp.id}}</td>    
            <td>{{Emp.name}}</td>    
            <td>{{Emp.email}}</td>    
            <td>{{Emp.employeeCode}}</td>   
            <td>{{Emp.gender}}</td>     
            <td>{{Emp.designation}}</td>    
            <td>{{Emp.department}}</td>    
            <td>{{Emp.dob}}</td>    
            <td>{{Emp.salary}}</td>              
            <td><button type="button"routerLink="/UpdateEmployeePath" class="button">Update</button></td>
            <td class="text-center"><button  class="btn btn-danger btn-xs" (click)="DeleteEmployee(Emp.id)"routerLink="/GetEmployeePath"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
            
        </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
</div>

</body>
</html>

