
.div1{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.div2{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: darkgray;
}
.div3{
    padding: 15px;
    margin: 5px 0 22px 0;
    background: rgb(206, 191, 191);
}


.btn1{
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #9fbb3c;
}